.lyrics{
    position: fixed;
    top: 0;
    right: 0;
    width: 25rem;
    height: 100%;
    background: white;
    box-shadow: 2px 2px 50px rgb(197, 197, 197);
    overflow: scroll;
    transform: translateY(100%);
    transition: all 0.4s ease;
    opacity: 0;
  h3 {
    margin:  2em 1.8em 1.8em 0.8em;
    font-weight: bolder;
    color: black;
    margin-bottom: 5em;
  }
  p {
    display: flex;
    font-size: 16px;
    justify-content: center;
    margin-bottom: 2.2em;
    
  }
  button{
    position: fixed;
    top: 2em;
    right: 1em;
    background: transparent;
    z-index: 4;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(65, 65, 65);
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
  }
}
.active-lyrics {
    transform: translateX(0%);
    z-index: 3;
    opacity: 1;
}
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}
@media screen and (max-width: 800px) {
    .lyrics {
      width: 100%;
      h3{
        margin-bottom: 4em;
      }
    }    
}