
nav {
  min-height: 10vh;
  display: flex;
  justify-content:space-around;
  align-items: center;
  span{
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #346aad 0%,
      #5870db 29%,
      #ff1361 67%,
      #19ace5 100%
    );
    background-size: auto auto;
    position: relative;
    right: 3.5%;
    top: 5px;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 15px;
    text-decoration: underline  dotted rgb(197, 133, 229) 4px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(65, 65, 65);
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
  }
}

@media screen and (max-width: 800px) {
  nav {
    span {
      left: 0%;
    }
    button {
      z-index: 2;
    }
  }
}
